{% extends 'base_with_nav.html.twig' %}

{% block title %}Edit Deck{% endblock %}

{% block body %}
    <h1>Edit Deck</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button type="submit">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('deck_index') }}">Back to list</a>
{% endblock %}
